body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(91,90,90,1) 100%);
    height: 100vh;
    align-items: center;
    justify-content: center;
}
.container{
    width :390px;  
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container h2{
    color: white;
    margin-bottom: 90px;
}
.dot {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    display: inline-block;
    box-shadow: 10px 10px 22px -7px rgba(0,0,0,0.75);
    margin: 10px 10px;
    transition:all 1s;
    opacity: 55%;
    cursor: pointer;
  }

.red{
    background-color: rgb(211, 59, 59);
}

.blue{
    background-color: #074eca;
}

.green{
    background-color: #A8EB12;
}


.active-red{
    opacity: 1;
    box-shadow: 0px 0px 100px 15px rgba(211,59,59,0.95);
}
.active-green{
    opacity: 1;
    box-shadow: 0px 0px 100px 15px rgba(166,235,18,0.9);
}
.active-blue{
    opacity: 1;
    box-shadow: 0px 0px 100px 20px rgba(8,78,198,1);
}

.score{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.score button{
    width: 100px;
    height: 50px;
    color: white;
    background-color:#031022;
    border: none;
    border-radius: 7px;
    font-size: 18px;
    cursor: pointer;
}
.score p{
    color: aliceblue;
    font-size: 72px;
    margin-top: 20px;
}